#lets-start {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}
#space{
    width: 100vw;
    height: 100vh;
    background-color: grey;
}
#circle-top{
    background-color: #00599C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    bottom: 50%;
    right: 0;
    transform: scale(0);
    opacity: 1;
    transition: transform .7s ease;
}
#circle-top.in-view{
    transform: scale(50);
    opacity: 1;
}
#circle-bottom{
    background-color: #00599C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    bottom:  50%;
    left: 0;
    transform: scale(0);
    opacity: 1;
    transition: transform .7s ease;
}
#circle-bottom.in-view{
    transform: scale(50);
    opacity: 1;
}
#main-text {
    z-index: 1;
}
#lets-get-started{
    opacity: 1;
    transform: translateY(200px);
    transition: opacity .5s ease-in-out, transform .3s ease-in-out;
    z-index: 1;
    font-size: 50px;
    color: white;
    font-weight: 200;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lets-get-started.in-view{
    opacity: 1;
    transform: translateY(0);
}
#infoC{
    color: white;
    font-size: 17px;
    z-index: 1;
}
#history{
    overflow: hidden;
    border-right: .15em solid #000; 
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
  }
  
  @keyframes blink-caret {
    50% { border-color: transparent; }
  }