#course-page{
    margin-bottom: 5vh;
}
#course-head {
    text-align: center;
    font-size: 40px;
    color: #303030;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity .5s ease-in-out, transform .2s ease-in-out;
}
#course-head.in-view{
    opacity: 1;
    transform: scale(1);
}
#course-page-main-box{
    width: 100vw;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#list-of-lessons{
    position: sticky;
    top: 5vw;
    left: 0;
    height: max-content;
    width: 12vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);
    border-bottom-right-radius: 15px; border-top-right-radius: 15px;
}
#list-of-lessons p{
    color: #303030;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
}
#course-page-lesson{
    width: 80vw;
    height: max-content;
    margin-right: 5vw;
    border-radius: 15px;
    padding-bottom: 4vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);
}
.lessons a{
    color: #303030;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
}
.lessons a:hover{
    text-decoration: underline 1px #303030;
}
.name-of-lesson{
    font-size: 35px;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-bottom: 0;
}
.part-of-lesson{
    font-size: 30px;
    color: #303030;
    margin-left: 2vw;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.part-of-lesson.in-view{
    opacity: 1;
}

.chapter-description{
    margin-left: 2vw;
    font-size: 18px;
    width: 90%;
}
.prechapter-head{
    color: black;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-weight: 500;
    margin-left: 2vw;
}
.prechapter-description{
    margin-left: 2vw;
    font-size: 18px;
    width: 90%;
}
.func-description{
    color: black;
    font-weight: 500;
    line-height: 45px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 5px;
}
.text-description{
    color: #303030;
    font-weight: 500;
    line-height: 45px;
    font-size: 20px;
}
.explanation-list{
    font-size: 19px;
    line-height: 45px;
}
.head-tag{
    font-size: 30px;
    margin-left: 1vw;
}
.code{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

/* dynamic */

#integer-types-div{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#integer-types-div.in-view{
    opacity: 1;
}
#floating-point-types-div{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#floating-point-types-div.in-view{
    opacity: 1;
}
#character-types-div{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#character-types-div.in-view{
    opacity: 1;
}
#special-data-types-div{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#special-data-types-div.in-view{
    opacity: 1;
}
#summary-div{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#summary-div.in-view{
    opacity: 1;
}
.observer-div-course{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.observer-div-course.in-view{
    opacity: 1;
}

#for-loop{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#for-loop.in-view{
    opacity: 1;
}
#while-loop{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#while-loop.in-view{
    opacity: 1;
}
#do_while-loop{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#do_while-loop.in-view{
    opacity: 1;
}
#arrays-main{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#arrays-main.in-view{
    opacity: 1;
}
#declare-and-initializing{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#declare-and-initializing.in-view{
    opacity: 1;
}
#initializing-an-array{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#initializing-an-array.in-view{
    opacity: 1;
}
#accessing-array-elements{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#accessing-array-elements.in-view{
    opacity: 1;
}
#modifying-array-values{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#modifying-array-values.in-view{
    opacity: 1;
}
#using-loops-with-arrays{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#using-loops-with-arrays.in-view{
    opacity: 1;
}
#character-arrays{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#character-arrays.in-view{
    opacity: 1;
}
#finding-maximum-in-an-array{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
#finding-maximum-in-an-array.in-view{
    opacity: 1;
}

@media (max-width: 750px) {
    #course-page-main-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #list-of-lessons{
        position: relative;
        height: max-content;
        width: 50vw;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);
        border-radius: 15px;
    }
    #list-of-lessons p{
        text-align: center;
    }
    #course-page-lesson{
        margin-top: 20vh;
    }
    .name-of-lesson{
        display: none;
    }
}
@media (max-width: 450px) {
    #course-page-lesson{
        margin-top: 5vh;
    }
}