*{
    font-weight: 300;
}
#left-text{
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    padding-top: 70px;
}
#c-easy{
    color: #303030;
    font-size: 50px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    transform: translateX(-50px);
    opacity: 0;
    margin-bottom: 0;
    transition: opacity .5s ease-in-out, transform .2s ease-in-out;
}
#c-easy span{
    font-size: 100px;
    color: #00599C;
    font-weight: 600;
}
#c-easy.in-view{
    transform: translateX(0);
    opacity: 1;
}
#rest-of-text{
    font-size: 23px;
    margin: 0;
    padding: 0;
    margin-left: 80px;
}
#rest-of-text-first{
    font-size: 15px;
    opacity: 0;
    transition: opacity .5s ease-in-out, font-size .2s ease-in-out;
}
#rest-of-text-first.in-view{
    font-size: 23px;
    opacity: 1;
}
#rest-of-text-last{
    font-size: 15px;
    opacity: 0;
    transition: opacity .5s ease-in-out, font-size .2s ease-in-out;
    margin-left: 15px;
}
#rest-of-text-last.in-view{
    font-size: 23px;
    opacity: 1;
}
#start-button{
    text-decoration: none;
    color: #00599C;
    border: 2px solid #00599C;
    background-color: white;
    border-radius: 15px;
    font-size: 50px;
    font-weight: 300;
    padding: 10px;
    width: max-content;
    transition: .5s;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity .5s ease-in-out, transform .2s ease-in-out,.3s;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}
#start-button.in-view{
    opacity: 1;
    transform: scale(1);
}
#start-button:hover{
    color: white;
    background-color: #00599C;
}
#right-images{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right-images img{
    width: 200px;
}
#will-find{
    font-size: 15px;
    opacity: 0;
    color: #303030;
    margin: 0;
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out, font-size .2s ease-in-out;
}
#will-find.in-view{
    font-size: 30px;
    opacity: 1;
}
#higher-images{
    display: flex;
}
.higher-boxes{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 8px rgb(193, 193, 193);
    border-radius: 15px;
    height: max-content;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #303030;
}
#first-box{
    transform: scale(0.1);
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .3s ease-in-out;
}
#first-box.in-view{
    transform: scale(1);
    opacity: 1;
}
#second-box{
    transform: scale(0.1);
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .3s ease-in-out;
}
#second-box.in-view{
    transform: scale(1);
    opacity: 1;
}
#third-box{
    transform: scale(0.1);
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .3s ease-in-out;
}
#third-box.in-view{
    transform: scale(1);
    opacity: 1;
}
#four-box{
    transform: scale(0.1);
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .3s ease-in-out;
}
#four-box.in-view{
    transform: scale(1);
    opacity: 1;
}
#lower-images{
    display: flex;
}
.lower-boxes{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 8px rgb(193, 193, 193);
    border-radius: 15px;
    height: max-content;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #303030;
}
@media (max-width:750px){
    #left-text{
        padding-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
    }
    #c-easy{
        margin: 0;
    }
    #rest-of-text{
        margin: 0;
    }
    #rest-of-text-first.in-view{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    #rest-of-text-last{
        margin: 0;
        padding: 0;

    }
    #rest-of-text-last.in-view{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    #start-button{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #right-images{
        width: 100%;
    }
}
@media (max-width:500px){
    #main-box{
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #left-text{
        width: 100%;
    }
    #rest-of-text{
        margin-left: 0;
        text-align: center;
    }
    #c-easy{
        margin-top: -100px;
        text-align: center;
        font-size: 35px;
        margin-left: 0;
        align-self: center;
    }
    #rest-of-text-first.in-view{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    #rest-of-text-last{
        margin: 0;
        padding: 0;
    }
    #rest-of-text-last.in-view{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    #start-button{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #right-images{
        width: 100%;
    }
}
/*WILL FIND*/
@media (max-width:500px){
    .higher-boxes{
        margin: -20px;
    }
    .lower-boxes{
        margin: -20px;
    }
    #first-box.in-view{
        transform: scale(0.7);
    }
    #second-box.in-view{
        transform: scale(0.7);
    }
    #third-box.in-view{
        transform: scale(0.7);
    }
    #four-box.in-view{
        transform: scale(0.7);
    }
}