body{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin:0;
  outline: 0;
  position: relative;
}
#main-box{
  width: 100vw;
}
@media (max-width:750px){
  header{
    width: 105vw;
  } 
}
/* header{
  z-index: 1;
  display: flex;
  background-color: rgba(255, 255, 255, 0.444);
  align-items: center;
  width: 100vw;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.523);
  backdrop-filter: blur(10px);
  height: max-content;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
header.in-view{
  opacity: 1;
}
#main-box{
  margin-top: 80px;
  width: 100vw;
  height: 40vw;
  display: flex;
  margin-bottom: 90px;
}

#information-about-C{
  background-image: url("./c-animation2/frame1.png");
  width: 100vw;
  height: 100vh;
  transition: background-image .05s ease-in-out;
  color: #303030;
  font-size: 20px;
  display: flex;
}

footer{
  margin-top: auto;
  height: max-content;
  background-color: #00599C;
  position: relative;
  display: flex;
  width: 100vw;
}


@media (max-width:750px){  
  #main-box{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  #uWillNeed{
    display: none;
  }
  footer{
    margin-top: 75px;
  }
}
@media (max-width:500px){
  #main-box{
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #information-about-C{
    background-image: none;
  }

  #uWillNeed{
    display: none;
  }
  footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    }
} */
