/* *{
  outline: 4px solid green !important;
} */
body{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin:0;
  outline: 0;
  position: relative;
}
#main-box{
  width: 100vw;
}
@media (max-width:750px){
  header{
    width: 105vw;
  } 
}
