#libraries{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#standart-libraries{
    width: 100vw;

}
#standart-libraries-head {
    text-align: center;
    font-size: 40px;
    color: #303030;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity .5s ease-in-out, transform .2s ease-in-out;
}
#standart-libraries-head.in-view{
    opacity: 1;
    transform: scale(1);
}
#standart-libraries-head span{
    font-size: 45px;
    color: #00599C;
    font-weight: 600;
    padding-left: 1vw;
}
#standart-libraries-main-box{
    position: relative;
    display: flex;
    justify-content: space-between;
}
#libraries-left{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: 12vw; height: max-content;
    border-bottom-right-radius: 15px; border-top-right-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.251);
    padding: 10px;
    position: sticky;
    top: 10vh;
}
#libraries-right{
    height: max-content;
    width: 75vw;
    padding: 1vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.288);
    border-radius: 15px;
}
#head-of-list-libraries{
    color: #303030;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
    margin-left: 0;
}
.list-libraries{
    text-decoration: none;
    font-size: 20px;
    color: #00599C;
}
.list-libraries:hover{
    text-decoration: underline 1px #00599C;
}
.headers-of-libraries-right{
    color: #303030;
    font-size: 35px;
    margin-left: 1vw;
}
.text-of-libraries-right{
    font-size: 18px;
    line-height: 25px;
    margin-left: 1vw;
}
.pre{
    color: #00599C;
    letter-spacing: 0.5px;
    font-size: 18px;
}
.head-libraries{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 5px;
    margin-left: 20px;
    color: #00599C;
}
.libraries-span{
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    font-size: 20px;
    color: #000000;

}
.functions-span{
    padding: 5px;
    line-height: 30px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    color: #00599C;
    font-size: 18px;
    font-weight: 500;
}
.explanation-span{
    padding: 5px;
    line-height: 30px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    color: #4B0082;
    font-size: 18px;
    font-weight: 500;
}
.example-code{
    font-size: 25px;
}
#gist-embed{
    margin-top: 30px;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset 0 0 10px #00589c70;
}
.libraries-div li{
    padding: 5px;
    line-height: 30px;
}
.libraries-div li::marker{
    color: rgb(164, 164, 164);
    font-size: 20px;
}
.key-definition-name{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.key-definition-keys{
    padding: 4px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    color: #00599C;
    font-size: 17px;
}

/* animated
#definition{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#definition.in-view{
    opacity: 1;
}
#stdio-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#stdio-h-div.in-view{
    opacity: 1;
}
#stdlib-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#stdlib-h-div.in-view{
    opacity: 1;
}
#string-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#string-h-div.in-view{
    opacity: 1;
}
#math-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#math-h-div.in-view{
    opacity: 1;
}
#ctype-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#ctype-h-div.in-view{
    opacity: 1;
}
#limits-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#limits-h-div.in-view{
    opacity: 1;
}
#float-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#float-h-div.in-view{
    opacity: 1;
}
#stddef-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#stddef-h-div.in-view{
    opacity: 1;
}
#stdint-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#stdint-h-div.in-view{
    opacity: 1;
}
#stdbool-h-div{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#stdbool-h-div.in-view{
    opacity: 1;
} */