#course-head {
    text-align: center;
    font-size: 40px;
    color: #303030;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity .5s ease-in-out, transform .2s ease-in-out;
}
#course-head.in-view{
    opacity: 1;
    transform: scale(1);
}
#course-page-main-box{
    width: 100vw;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#list-of-lessons{
    position: absolute;
    top: 0;
    left: 0;
    height: max-content;
    width: 12vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);
    border-bottom-right-radius: 15px; border-top-right-radius: 15px;

}
#course-page-lesson{
    width: 80vw;
    height: 20vh;
    margin-right: 5vw;
    border-radius: 15px;
    background-color: red;
}